<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        
        <div class="footer-tables">

            <div class="table-left">
                <img src="images/logo.png" width="30px" alt="">
                <p>ACADEMY</p>
                <p>Leaders in Education</p>
            </div>

            <table class="table-middle">

            <th>Important Links</th>
            <tr><td>Computer center</td></tr>
            <tr><td>Events</td></tr>
            <tr><td>Grievance</td></tr>
            </table>

             <table class="table-right">

            <th>Contact us</th>
            <tr><td>Phone </td></tr>
            <tr><td>Email</td></tr>
            <tr><td>Website</td></tr>
            </table>
        </div>
    </div>
</body>
</html>