<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <form action="/registration" method="post">

    <div class="container">
    <h3>PARENT DETAILS:</h3>                                                                           

            <div class="table1">
                <table cellspacing="15px" >
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> </th>
                    <th> </th>
                    
                    <tr>
                        <td align="center">Father details:</td>
                        <td><input type="text" name="fname" placeholder= "Fathers Name"  /></td>
                        <td><input type="text" name="foccupation" placeholder= "Fathers Occupation"  />  </td>
                        <td><input type="text" name="fphone" placeholder="Father's phone" size="10"/></td>
                       
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" name="femail" placeholder="Father's email" size="10"/> </td>
                        <td> <input type="text" name="fincome" placeholder="Father's income" size="10"/> </td>                     
                    </tr>

                    <tr>
                        <td align="center">Mother details:</td>
                        <td><input type="text" name="mname" placeholder= "Mother's Name"  /> </td>
                        <td><input type="text" name="moccupation" placeholder= "Mother's Occupation" /></td>
                        <td><input type="text" name="mphone" placeholder="Mother's phone" size="10"/></td>
                        
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" name="memail" placeholder="Mother's email" size="10"/></td>
                        <td><input type="text" name="mincome" placeholder="Mother's income" size="10"/></td>
                        
                    </tr>
                    <tr>
                        <td align="center">Guardian details:</td>
                        <td><input type="text" name="gname" placeholder= "Guardian's Name"/> </td>
                        <td><input type="text" name="goccupation" placeholder= "Guardian's Occupation"/></td>
                        <td><input type="text" name="gphone" placeholder="Guardian's phone" size="10"/></td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" name="gemail" placeholder="Guardian's email" size="10"/></td>
                        <td><input type="text" name="gincome" placeholder="Guardian's income" size="10"/></td>
                    </tr>
                </table>
            </div>

<h3>BANK DETAILS:</h3>

        <div class="table1" >
                <table cellspacing="30px" >
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> </th>
                    <th> </th>
                    <tr>
                        <td>Bank name:</td>
                        <td><input type="text" name="bankname" placeholder= "Bank Name" /></td>
                        <td> Branch name:</td>
                        <td><input type="text" name="bankBranchname" placeholder= "Bank Branch Name" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center">Account #:</td>
                        <td><input type="text" name="bankAccountnumber" placeholder= "Bank Account Number" /></td>
                        <td> IFSC:</td>
                        <td><input type="text" name="ifsc" placeholder= "IFSC" /></td>
                        <td></td>
                    </tr>
                </table>
            </div>
{{!-- 
        <div>
         <input type="submit" class="regbtn" onclick="" value="Register">
         </div> --}}

{{!-- 
<input type="submit" class="regbtn" value="Next"> 
<button class="regbtn" id="btn2"> Next</button> --}}

</div>
</form>
</body>
</html> 